html,body{
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    margin: 0%;
}


.logo .botao{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppin', sans-serif;
}

#MenuNavegacao{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 120px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.botao{
    font-size: 18px;
    color: #2c3e50;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.botao:hover{
    color: #ffffff;
}

#galeriaBotao{
    margin-right: 150px;
}

.logo{
    font-size: 25px;
    color: #eee;
    text-decoration: none;
    font-weight: 600;
}



#titulo{
    font-size: 30px;
    
}

#introducao{
    margin-top: 100px;
}

p{
    text-align: center;
}

section {
    
    font-size: 20px;
    background: white;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}
h1, h2 {
    color: #2c3e50;
    text-align: center;
}
h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 0.5rem;
    text-align: center;
}
.Rede-Social{
    display: flex;
    align-items: center;
    margin-left: 40%;
    
    
}
.Rede-Social img {
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    
}

#tituloCotato{
    height: auto;
    width: 600px;
    margin: auto;
}
#pcontato{
    font-size: 20px;
    text-align: center;
}

.forms{
   text-align: center;
    margin: auto;
}
#sectionzap{
margin-bottom: 0px;
}

#imgZap{
   
    width: 50px;
    height: auto;
    margin: 0%;
}

#Pzap{
    margin-left: 10px;
    font-style: normal;
    text-align: center;
}
a{
    text-decoration: none;
    color:black
}

.container-grid {
    display: flex;
    align-items: center;
    margin-left: 40%;
  }

  .skill {
    margin-bottom: 20px;
   }
   .progress-bar {
    width: 50%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
   }
   .progress {
    height: 100%;
    background-color: #3498db;
    border-radius: 10px;
   }

   .NomeBarra{
    color: #000000;
    margin-left: 100%;
   }

   
   .estrelas{
    width: 40px;
    height: auto;
    display: inline-block;
    margin-left: 5px;
    padding: 0%;
    float: none;
   }


   .depoimento{
    width: 250px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.37);
    background-color: #ffffff;
    align-items: center;
    border-radius: 10%;
    text-align: center;
    border: 20px;
    margin: 20px;
    border-left:auto;
    margin-left: auto;
    margin-right: auto;
   }

   .depoimentoimg{
    margin-top: 35px;
    border-radius:50%;
    width: 100px;
    height: 100px;
   }
   
   #Depoimentos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   padding: 20%;
   margin: 0%;
   
    
   }

   .depoimento .depoimentoimg{
    height: 100px;
    }


   #DepoimentoTitulo{
    font-size: 50px;
    z-index: 50;
    margin-top: 100px;
    text-align: center;
    margin-left: 40%;
    position: absolute;
   }

   #galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    
   }

   .imgGaleria{
    margin: 5px;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
   }

   #galeriaTitulo{
    font-size: 100px;
    margin-top: 0%;
    margin-bottom: 10px;
   }

   #subTitulo{
    text-align: center;
   margin-top: 0%;
   }